* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

main {
    display: flex;
}
.left-side {
  position:relative;
}
#dodgerStadium {
    width: 525px;
    display: block;
}
#logo {
    position: absolute;
    top: 150px;
    width: 525px;
    background-color: rgba(0,0,0,0.15);
}
#photoSource {
    color: #FFEEE6;
    position: absolute;
    bottom: 5px;
    left: 150px;
    font-weight: lighter;
    font-size: .9rem;
}

.left-side span {
text-decoration: underline;
}
.right-side {
    display: flex;
    flex-direction: column;
    padding-right: 120px;
    padding-left: 50px;
    background-color: #c3d2da;
}

p {
    font-family: Roboto;
    line-height: 2.2rem;
    font-size: 1.5rem;
    color: #231a39;
}

#firstDiv {
    padding-top: 9em;
    margin-bottom: 50px;

}

#vin {
    margin-top: 20px;
    text-align: right;
    padding-right: 20px;
}

button {
    margin-top: 40px;
    margin-bottom: 10px;
    background-color: #003882;
    padding: 15px 40px 15px 40px;
    color: white;
    background-repeat: no-repeat;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 1px 1px 1px 1px #005A9C;
}

a:link, a:visited {
    text-decoration: none;
    color: #003882;
}

a:hover, a:active, a:focus {
    outline: 0;
  }

#letsDoThis {
    margin-bottom: 20px;
}

form :focus {
    outline: none;
    border: 1px solid #005A9C;
    box-shadow: .5px .5px .5px .5px #005A9C;
}


label, input {
    display: flex;
    font-family: Roboto;
}
label {
    font-size: small;
    text-transform: uppercase;
}
input {
    border-radius: 5px;
    height: 25px;
    width: 225px;
}

#one, #two, #three {
    display: flex;
    justify-content: space-between;
    padding-right: 4em;
    padding-bottom: 15px;
    line-height: 24px;
}

#fields {
    padding: 20px;
    background-color: #fff2e6;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    margin-bottom: 20px;

}

#btn p {
    font-size: 1rem;
}