* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

main {
    display: flex;
}
.left-side {
  position:relative;
}
#dodgerStadium {
    width: 525px;
    display: block;
}
#logo {
    position: absolute;
    top: 150px;
    width: 525px;
    background-color: rgba(0,0,0,0.15);
}
#photoSource {
    color: white;
    position: absolute;
    bottom: 5px;
    left: 150px;
    font-weight: lighter;
    font-size: .9rem;
}

.left-side span {
text-decoration: underline;
}
.right-side {
    display: flex;
    flex-direction: column;
    padding-right: 120px;
    padding-left: 40px;
}

.text {
    font-family: Roboto;
    line-height: 1.75rem;
    font-size: 18px;
}

#firstDiv {
    padding-top: 8em;
    padding-bottom: 50px;

}

button {
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: #003882;
    padding: 15px 40px 15px 40px;
    color: white;
    background-repeat: no-repeat;
    border-radius: 5px;
    font-weight: bold;
}

a:link {
    text-decoration: none;
    color: #003882;
    font-weight: bold;
}
