* {
    margin: 0;
    padding: 0;
    border: 0;
}

main {
    display: flex;
}
.left-side {
    position: relative;
}
#dodgerStadium {
    width: 500px;
    display: block;
}
#logo {
    position: absolute;
    top: 150px;
    width: 500px;
    background-color: rgba(0,0,0,0.15);
}
#photoSource {
    color: white;
    position: absolute;
    bottom: 5px;
    left: 150px;
    font-weight: lighter;
    font-size: .9rem;
}

span {
    text-decoration: underline;
}